.mainsection {
    /* border: 2px solid yellow; */
    width: 77%;
    overflow-y: scroll;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgb(42, 40, 40), #1c1c1c, #1c1c1c);
    height: 99%;
}